@font-face {
  font-family: 'Georgia Regular';
  src: url("../../fonts/Georgia.woff2");
  /* Safari, Android, iOS */
}

*,
*::after,
*::before,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  background: none;
}

a {
  color: #000;
}

body {
  position: relative;
  font-size: 16px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.mburger {
  display: none;
}

.mburger b {
  background: #fff;
}

.mm-navbars_top {
  height: 45px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  height: 100vh;
  padding: 30px 0;
  background-image: url(../../img/sidebar-bg.png);
  background-size: cover;
  background-position: top;
}

.sidebar i.fa-bars {
  display: none;
}

.sidebar i.fa-phone {
  display: none;
}

.sidebar .logo {
  padding: 0 34px;
}

.sidebar .logo__name {
  position: relative;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  border: 3px solid #976740;
  border-bottom: 0;
  font-family: 'Georgia Regular';
}

.sidebar .logo__name:before,
.sidebar .logo__name:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #976740;
}

.sidebar .logo__name:before {
  left: -1px;
  width: 40%;
}

.sidebar .logo__name:after {
  right: -1px;
  width: 10%;
}

.sidebar .logo__link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  color: #cecece;
}

.sidebar .logo__span {
  position: absolute;
  bottom: -8px;
  right: 9%;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: #acacac;
}

.sidebar .logo__span::before {
  content: '';
  position: absolute;
  background-color: #976740;
  bottom: 0;
  left: -60%;
  width: 60%;
  height: 1px;
}

.sidebar .logo__description {
  font-size: 18px;
  padding-right: 10px;
  color: #acacac;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.sidebar .menu {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.sidebar .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .menu__item {
  position: relative;
  padding: 18px 34px;
  border-bottom: 1px solid #5d5a5a;
}

.sidebar .menu__link {
  display: inline-block;
  font-size: 16px;
  color: #fff;
}

.sidebar .menu__link:hover {
  color: #5d5a5a;
}

.sidebar .menu__notification {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #b36060;
}

.sidebar .menu__notification::before {
  position: absolute;
  left: -50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 200px 0;
  border-color: transparent #007bff transparent transparent;
}

.sidebar .second-menu {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 34px;
}

.sidebar .second-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .second-menu__link {
  display: inline-block;
  padding-bottom: 10px;
  color: #acacac;
  font-size: 14px;
}

.sidebar .second-menu__link:hover {
  color: #5d5a5a;
}

.sidebar .callback {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 34px;
}

.sidebar .callback__phone {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.sidebar .callback__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 3px 0;
  color: #c57c40;
  border-bottom: 1px dashed #c57c40;
  cursor: pointer;
  font-size: 15px;
  align-self: flex-start;
}

.sidebar .callback__btn:hover {
  color: #e28e4a;
  border-bottom: 1px dashed #e28e4a;
}

.content {
  width: 75%;
  background: #5a5a5a;
}

.content .slider {
  height: 100%;
}

.content .slider .owl-carousel {
  position: relative;
  height: 100%;
}

.content .slider .owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 5%;
  left: 6%;
}

.content .slider .owl-carousel .owl-dot {
  border-radius: 50%;
  background-color: white;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.content .slider .owl-carousel .owl-dot.active {
  width: 16px;
  height: 16px;
}

.content .slider .owl-stage-outer,
.content .slider .owl-stage {
  height: 100%;
}

.content .slider .owl-carousel .owl-item {
  height: 100%;
  background-size: cover;
}

.content .slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-position: center;
}

.content .slider-item__content {
  position: absolute;
  bottom: 11%;
  left: 6%;
}

.content .slider-item__text {
  position: relative;
  margin-bottom: 20px;
  padding: 0px 135px 20px 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(45, 38, 30, 0.5);
  z-index: 1;
}

.content .slider-item__text::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 35px;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 38, 30, 0.3);
  z-index: -1;
}

.content .slider-item__title {
  font-size: 56px;
}

.content .slider-item__span {
  font-size: 36px;
}

.content .slider-item__btn {
  position: relative;
  margin-left: 20px;
  padding: 10px 25px;
  background-color: #b36060;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-style: italic;
  color: #fff;
  z-index: 1;
}

.content .slider-item__btn:hover {
  background-color: #8b4343;
}

.content .slider-item__btn-arrow {
  margin-left: 55px;
}

.modal {
  z-index: 999;
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}

.modal__wrapp-close {
  position: absolute;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  color: #796454;
}

.modal__wrapp-close:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.callback-modal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.callback__img img {
  height: 100%;
}

.callback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 60px;
}

.callback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
  height: 100%;
}

.callback-form__title {
  font-size: 24px;
  text-transform: uppercase;
}

.callback-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.callback-form__input label {
  margin-bottom: 10px;
}

.callback-form__input input {
  padding: 10px 20px;
  background: #fff;
  font-size: 18px;
}

.callback-form__input input.error-data {
  border: 1px solid red;
}

.callback-form__input input.success-data {
  border: 1px solid green;
}

.callback-form__input textarea {
  padding: 20px 20px;
  height: 100px;
  background: #fff;
  font-size: 18px;
  resize: none;
}

.callback-form__input .required-label:after {
  content: " *";
  color: red;
}

.callback-form__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 15px 70px;
  margin-top: auto;
  background: #db7d3a;
  font-family: 'Lora', serif;
  color: #fff;
  cursor: pointer;
}

.callback-form__btn:hover {
  background: #8b4343;
}

@media (min-width: 1441px) {
  .sidebar {
    width: 20%;
  }

  .sidebar .logo__link {
    font-size: 58px;
  }

  .sidebar .logo__span {
    font-size: 20px;
  }

  .sidebar .logo__span::before {
    left: -56%;
    width: 58%;
  }

  .sidebar .logo__description {
    font-size: 21px;
    padding-right: 0px;
  }

  .sidebar .menu__link {
    font-size: 20px;
  }

  .sidebar .second-menu__link {
    font-size: 18px;
    padding-bottom: 15px;
  }

  .sidebar .callback__phone {
    font-size: 28px;
  }

  .sidebar .callback__btn {
    font-size: 22px;
  }

  .content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }

  .mburger {
    display: block;
  }

  .sidebar {
    width: 100%;
    height: 45px;
    min-height: 45px;
    padding: 0px 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sidebar i.fa-bars {
    display: block;
    margin: 0 28px 0 3px;
    color: #cecece;
    font-size: 26px;
  }

  .sidebar i.fa-phone {
    display: block;
    color: #cecece;
    font-size: 20px;
  }

  .sidebar .logo {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .sidebar .logo__name {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
  }

  .sidebar .logo__name::before,
  .sidebar .logo__name::after {
    display: none;
  }

  .sidebar .logo__link {
    font-size: 28px;
    text-align: left;
  }

  .sidebar .logo__span {
    display: none;
  }

  .sidebar .logo__span::before,
  .sidebar .logo__span::after {
    display: none;
  }

  .sidebar .logo__description {
    display: none;
  }

  .sidebar .menu {
    display: none;
  }

  .sidebar .second-menu {
    display: none;
  }

  .sidebar .callback {
    display: none;
  }

  .content {
    width: 100%;
    height: 100%;
  }

  .content .slider-item__content {
    left: 10px;
    bottom: 20%;
  }

  .content .slider-item__text::after {
    top: 17px;
    left: 17px;
  }

  .content .slider-item__text {
    margin-bottom: 20px;
    padding: 5px 60px 10px 10px;
  }

  .content .slider-item__title {
    font-size: 28px;
  }

  .content .slider-item__span {
    font-size: 18px;
  }

  .content .slider-item__btn {
    margin-left: 25px;
    padding: 10px 20px;
  }
}